@import 'layout.scss';


* {
  box-sizing: border-box;
}

.navigation {
  background-color: #ff7f50;
  min-height: 200px;
  display: flex;
  flex: 1;
}

.products-list {
  background-color: #006400;
  min-height: 200px;
  display: flex;
  flex: 1;
}

.news {
  background-color: #0ff;
  min-height: 200px;
  display: flex;
  flex: 1;
}

span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #faebd7;
  padding: 8px;
  border-radius: 4px;
  text-transform: lowercase;
  margin: auto;
}


 .products {
    @include medium {
                  display: flex;
          flex: 2;
    }
 }

.content {
    @include large {
         display: flex;
    }
}