.header {
  height: 3em;
  background-color: #006400;
}

.menu {
  display: flex;
  padding-left: 3em;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  list-style-type: none;
  cursor: pointer;

  &__item {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 3em;
  }

  &__item:hover {
    background-color: #9acd32;
  }

  &__item-text {
    display: block;
  }
  &__item_active {
    color: yellow;
  }

  &__item_active:hover .submenu {
    display: flex;
    flex-direction: column;
  }
}

.submenu {
  position: absolute;
  top: 48px;
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ff7f50;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  min-width: 120px;
  z-index: 1;

  &__item {
    padding: 16px 8px;
    display: block;
  }
  &__item:hover {
    color: #000;
  }
}
